body{
    background-color: lightgrey;
    text-align:center;
    font-family: Consolas;
}

html, body {
  height:90%;
}

h8{
  color: red;
}

a{
  color: blue;
  text-decoration: none;
}

legend{
  color: white;
  width: 220px;
  font-weight: bold;
  background-color: #2aa021;
  border: 1px solid;
  border-color: #4fbc47;
}

fieldset {
  width: 256px;
  padding: 50px;
  background-color: #8fdb8a;
  border: 10px groove;
  border-color: #4fbc47;
  margin:auto;
}

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #2aa021;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbarr a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #4fbc47;
  color: black;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #4fbc47;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* Footer */
.column {
  float: left;
  width: 31.7%;
  padding: 10px;
  height: 190px;
  }
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px;
}

